@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Encuestas</h1>
    <p class="lead">
        La creación de encuestas se puede realizar por medio de almacenamientos por bases de datos, si desea realizar una encuesta diríjase a la
        pestaña de Creación de encuestas.
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Información</h2>
        <p>
            Es una página sencilla y no tan complicada de entender, se pueden realizar encuestas rápidas que se
            almacenan en las bases de datos y en cualquier momento de puede visualizar sus respuestas.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Contacto</h2>
            <p>Nombre: Denis Villalta</p>
            <p>Teléfono: 5444-7167</p>
            <p>E-mail: davillaltao@gmail.com</p>
    </div>
</div>