@model EncuestaEP.Models.Respuesta_Encabezado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Respuesta_Encabezado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            Nombre de Encuesta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encuesta.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
